<header class="tab-header">
    <span class="v-line"></span>
    <label class="header-text">Special Request</label>
</header>
<form action="" method="POST">
    <header>
        <div class="form-layout">
            <div class="flex-justify-between">
                <div class="input-container">
                    <label>Reference No</label>
                    <input class="ref" type="text" >
                </div>
                <div class="input-container">
                    <label>Date Filed</label>
                    <input class="date-file" type="date" readonly>
                </div>
            </div>  
            <div class="input-container">
                <label>Employee</label>
                <input class="input" type="text" placeholder="Employee name">
            </div>
            <div class="input-container">
                <label>Department</label>
                <input class="input" type="text" placeholder="Department">
            </div>
            <div class="input-container">
                <label>Position</label>
                <input class="input" type="text" placeholder="Position">
            </div>
        </div>
    </header>
    <div class="divider" style="margin: 20px auto; width: 100%"></div>
    <div class="issuance-container">
        <div class="equipment-holder">
            <div class="input-container">
                <label>Request Details</label>
                <textarea placeholder="Please type the request details here .."></textarea>
            </div>
        </div>
    </div>
    <div class="btn-holder">
        <button class="btn" type="submit">Submit</button>
    </div>  
</form>